<div>
    <input type="button" ng-click="previousWeek()">
    <input type="number" ng-model="week" ng-blur="reload()">
    <input type="number" ng-model="year" ng-blur="reload()">
    <input type="button" ng-click="nextWeek()">
    <div class="col-md-8">
        <table>
            <tr>
                <td></td>
                <td ng-repeat="day in days">{{day.name}}</td>
            </tr>
            <tr ng-repeat="number in hourNumbers">
                <td>{{number}}</td>
                <td ng-repeat="day in days" ng-if="!tileHidden(day.number, number)" rowspan="{{getTileRowspan(day.number, number)}}">
                    <span ng-show="tileEmpty(day.number, number)">
                        +
                    </span>
                    <span ng-hide="tileEmpty(day.number, number)">
                        EXISTS! :D
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">

    </div>
</div>